[Unit]
Description=Websocket gateway to IRC networks
Documentation=https://github.com/kiwiirc/webircgateway
After=network.target

[Service]
User=http
Group=http
ExecStart=/var/www/webircgateway/webircgateway --config=/var/www/webircgateway/config.conf
ExecReload=/usr/bin/kill -USR1 $MAINPID
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target